

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:url("../../../public/blurry-gradient-haikei.svg");
  background-position: center;
  padding: 1rem 2rem;
}


.navbar-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(89, 0, 255);
  width: 125;
}


.links {
  flex: 1;
  display: flex;
  border-right: 150px;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.app__navbar-links li h3 {
  margin: 0 1rem;
  cursor: pointer;
  font-size: larger;
  color: rgb(4, 4, 4);
}
.links li a{
  text-decoration: none;
}
.links li h3:hover {
  color: #133035dc;
}

.end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.end a {
  margin: 0 1rem;
  text-decoration: none;
  transition: .5s ease;
}

.end a:hover {
  border-bottom: 1px solid #f9c404;
}

.end div {
  width: 1px;
  height: 30px;
  background: #ffffff;
}

.mobile {
  display: none;
}

.mobile_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000000;
  transition: .5s ease;
  flex-direction: column;
  z-index: 5;
}

.mobile_overlay .overlay__close {
  font-size: 27px;
  color: #1c9f98;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.mobile_links {
  margin-top: 60px;
  list-style: none;
}

.mobile_links li a{
  margin: 5rem;
  cursor: pointer;
  color: #206d9d;
  font-size: 2rem;
  text-align: center;
  font-family: 'Cormorant Upright', serif;
}
.mobile_links li a{
  text-decoration: none;
}
.mobile_links li a:hover {
  color: rgb(197, 219, 28);
}

@media screen and (min-width: 2000px) {
  .navbar-title {
    color: rgb(26, 148, 255);
    width: 210px;
  }
}

@media screen and (max-width: 1150px) {
  .links {
    display: none;
  }

  .mobile {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    padding: 1rem;
  }

  .end {
    display: none;
  }

  .navbar-title  
  {
    color: aliceblue;
    width: 150px;
    font-size: small;
  }
}